<section class="flat-title-page inner">
  <div class="overlay"></div>
  <div class="themesflat-container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading mg-bt-12">
          <h1 class="heading text-center">Explore</h1>
        </div>
        <div class="breadcrumbs style2">
          <ul>
            <li><a routerLink="">Home</a></li>
            <li>Explore</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="tf-explore-2 tf-section">
  <div class="themesflat-container">
    <div class="row">
      <div class="col-12">
        <h2 class="tf-title-heading ct style-2 mg-bt-13">
          Our solution
        </h2>
       

        <h4 class="sub-title ct  mg-bt-20 pad-200"> 
          
          The most pressing problem is that 55% of fresh dairy product waste comes from consumers. Therefore, reducing the waste of dairy products requires not only initiatives on the production side, but also innovative solutions to help consumers reduce their waste. This is where we came with our digital solution EcoCycle.        
        </h4>
        <h5 class="sub-title ct  mg-bt-20 pad-200"> 
          cardboard carbon footprint:The carbon footprint of cardboard recycling is satisfactory even if it is not perfect because 80% of cardboard is recycled. Throughout its lifetime, a package such as a milk carton, will produce 15 grams of CO2 equivalent. It is four times less
          than traditional ways
           <br>
          <!-- <img src="assets/images/box-item/im2.jpeg" alt="Simply Easy Learning" width=300 height="80"> -->
        </h5>

        <h5 class="sub-title ct  mg-bt-20 pad-200"> 
          Packaging recycling belongs to a specific recycling channel, just like car recycling, oil recycling, clothing recycling and pallet recovery. A packaging is a set of materials intended to contain, identify, protect, preserve and promote a product from its distribution to its storage. In France, the recycling rate for packaging bearing the recycling symbol is around 44%,
          including household waste and industrial waste.
           <br>
          <!-- <img src="assets/images/box-item/im2.jpeg" alt="Simply Easy Learning" width=300 height="80"> -->
        </h5>
        </div>
    </div>

    <div class="row">
      <div class="col-3" *ngFor="let announce of announces">
        <div class="sc-card-product">
          <div class="card-media">
            <a href="item-details.html"><img src="assets/images/box-item/home.png" alt="Image"></a>
            <button class="wishlist-button heart"><span class="number-like"> 100</span></button>
          </div>

          <div class="card-title">
            <h5 class="style2"><a href="item-details.html">Location: </a></h5>
            <div class="tags">bsc</div>
          </div>

          <div class="meta-info">

            <div class="author">
              <div class="avatar">
                <img src="assets/images/avatar/avt-1.jpg" alt="Image">
              </div>
              <div class="info">
                <span>Owned By</span>
                <h6 > <a href="author02.html"></a> </h6>
                
              </div>
            </div>
          </div>

          <div class="price" style="float:right;margin-top:30px;background-color:FloralWhite;border-radius:10px;">
            <span style="color:black">Current Bid</span>
            <h5 style="font-weight:bold;color:white;font-size:14px;color:black;margin-left:10px"> </h5>
          </div>
          <div class="button" style="margin-top:40px;margin-left:5px">
            <button type="button"
                    style="background-color:blue;margin-left:40px;margin-top:25px">
              Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
