<section class="flat-title-page inner">
    <div class="overlay"></div>
    <div class="themesflat-container">
        <div class="row">                       
            <div class="col-md-12">
                <div class="page-title-heading mg-bt-12">
                    <h1 class="heading text-center">FAQ</h1>
                </div>
                <div class="breadcrumbs style2">
                    <ul>
                        <li><a routerLink="">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                    
</section>

<!-- flat-accordion -->
<section class="tf-section wrap-accordion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title-heading ct style-2 fs-30 mg-bt-10">
                    Frequently Asked Questions
                </h2>
                <h5 class="sub-title help-center mg-bt-32 ">
                    Here you will find questions you can ask or problems you may encounter.
                </h5>
            </div>
            <div class="col-md-12">
                <div class="flat-accordion2">
                    <div class="flat-toggle2">
                        <h6 class="toggle-title active">What is recycling?</h6>
                        <div class="toggle-content">
                          <p>Le recyclage est un procédé de traitement des déchets de produits arrivés en fin de vie, qui permet de réintroduire certains de leurs matériaux dans la production de nouveaux produits. Les matériaux recyclables comprennent certains métaux, plastiques et cartons, le verre, les gravats, etc</p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">Customer support is available ?</h6>
                        <div class="toggle-content">
                            <p>yes we do have Customer support ypu can contact us via Contact page </p>
                        </div>
                    </div>
                    <div class="flat-toggle2">
                        <h6 class="toggle-title"> what is Benefits of Recycling</h6>
                        <div class="toggle-content">
                            <p>Reduces the amount of waste sent to landfills and incinerators
                                Conserves natural resources such as timber, water and minerals
                                Increases economic security by tapping a domestic source of materials
                                Prevents pollution by reducing the need to collect new raw materials
                                Saves energy
                                Supports American manufacturing and conserves valuable resources
                                Helps create jobs in the recycling and manufacturing industries in the United States</p>
                       </div>
                       
                    </div>
                   
                    <div class="flat-toggle2">
                        <h6 class="toggle-title">How recycling improves our environment?</h6>
                        <div class="toggle-content">
                        <p> Recycling prevents the emissions of many greenhouse gases and water pollutants, and saves energy. Using recovered material generates less solid waste. Recycling helps to reduce the pollution caused by the extraction and processing of virgin materials.</p>
                        </div>
                    </div>                               
                </div>
            </div>
        </div>
    </div>
</section>
