<app-header></app-header>
<!-- <section class="tf-section top-seller bg-style">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title style2">Buy Your House Now!</h2>
                <h2 class="tf-title style2">Axies Is Your First Direction.</h2>
                <div class="heading-line s2"></div>
            </div>
        </div>
    </div>     
</section> -->
<section class="tf-section our-creater dark-style2">
    <div class="themesflat-container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="tf-title style4 mg-bt-38">
                    Statistics about nature</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <div class="author-avatar">
                                    <!-- <img src="../../assets/images/avatar/ceo.png" alt="" class="avatar"> -->
                                <div class="badge"></div>
                            </div>
                            </div>
                           
                        </div>
                    </div>
                    <a href="author02.html">
                        <div class="media-images-collection">
                            
                                <p>Recycling helps save energy. If you recycle one glass bottle, it saves enough energy to light a 100-watt bulb for four hours, power a computer for 30 minutes, or a television for 20 minutes</p>
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <div class="author-avatar">
                                    <!-- <a href="#">
                                        <img src="../../assets/images/avatar/programmer.png" alt="" class="avatar">
                                    </a> -->
                                    <div class="badge"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <a href="author01.html">
                        <div class="media-images-collection">
                            
                            <p>Recycling one aluminum can saves enough energy to run a 55-inch HDTV to watch your favorite movie. If we recycled all of the aluminum cans in the U.S., the energy saved could power 4.1 million homes for a full year.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="sc-card-collection style-2">
                    <div class="card-bottom">
                        <div class="author">
                            <div class="sc-author-box style-2">
                                <!-- <i class="fa-solid fa-trees"></i> -->
                                <div class="author-avatar">
                                    <div class="badge"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <a href="author01.html">
                        <div class="media-images-collection">
                            <p>Every year, 2.4 million tons of recycled glass are used to make new bottles and jars. Recycling glass is great because it can be recycled endlessly with no loss in quality or purity. And for every six tons of recycled container glass used in manufacturing, we can reduce one ton of carbon dioxide emissions, which contribute to climate change.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>